body {
    padding: 0;
    margin: 0;
}
.hero-second-column {
    margin-top: 100px;
}
.hero-bg {
    background-color: #E5B6B1;
}
.foter {
    background-color: #E5B6B1;
}
.custom-col > p {
    width: 200px;

}
.custom-col > ul {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
.custom-col > ul > li > a {
    color: #000;
}